body {
    font-family: oswald, sans-serif
}

label {
    display: inline-block;
    font-weight: 400
}

.alert {
    font-weight: 550
}

.alert b {
    font-weight: 590
}

.badge {
    font-weight: 550
}
.badge-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
}
.checkbox:checked+img {
    border: 3px solid #21da11;
    position: relative;
    top: -3px;
    transform: scale(1.2)
}

.home-notification {
    max-height: 650px;
    overflow-x: hidden;
    overflow-y: scroll
}

.home-notification::-webkit-scrollbar-thumb {
    background-color: #4c4c6a;
    border-radius: 2px
}

.home-notification::-webkit-scrollbar {
    width: 4px
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-thumb {
    background-color: #232e3b;
    border-radius: 2px
}

@media(max-width:768px) {
    .home-notification {
        max-height: 480px
    }
}

@media(min-width:1200px) {
    .auth .form-wrapper {
        width: 600px;
        margin: auto
    }
}

.nicescroll-cursors {
    width: auto !important
}

#detailServer {
    display: none
}

.form-control.note {
    min-width: 180px
}

.menu-icon {
    font-size: 16px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    transition: transform .5s;
    margin-right: 10px;
    color: #6d8bb0
}

.menu-icon img {
    width: 25px;
    height: 25px
}

.contact {
    background-color: #007bff;
    padding: 10px 30px;
    color: #fff !important;
    border-radius: 20px 20px 0 0;
    position: fixed;
    cursor: pointer;
    bottom: 0;
    right: 15px;
    height: 40px;
    color: #fff;
    z-index: 1000;
    border-bottom: 0
}

.contact:hover {
    background-color: #df043e;
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2)
}

.content-footer {
    display: block !important
}

body {
    cursor: url(/assets/images/arrow.cur?v=1), auto
}

li:hover,
a:hover,
input:hover,
select:hover,
button:hover {
    cursor: url(/assets/images/hover.cur?v=1), auto
}

.menu {
    background: #2f3542;
    color: #f1f2f6
}

.menu-body ul li>a {
    color: #f1f2f6
}

.menu-body ul li>a:hover {
    color: #dfe4ea
}

.menu-body ul li>a.active {
    position: relative;
    background: #70a1ff;
    color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    font-weight: 500
}

.swal2-popup.swal2-modal.swal2-show {
    margin: auto;
    border-radius: 20px;
    max-width: 450px
}

.dark span.badge.bg-warning,
span.badge.bg-info,
.btn-info,
.btn-info:hover {
    color: #fff
}

.dark .preloader .preloader-icon {
    border-color: #06163a;
    border-top-color: #3252f0
}

body.dark .modal-footer {
    border-top-color: #9aa8b8
}

body.dark .border-top {
    border-top-color: #9aa8b8 !important
}

.contact-button-group {
    right: 25px;
    bottom: 25px;
    display: flex;
    z-index: 99999;
    position: fixed;
    transition: all 250ms ease-in-out 0s;
    flex-direction: column-reverse
}

.contact-head:hover {
    box-shadow: rgb(0 0 0/25%) 0 5px 11px 1px
}

.contact-head {
    color: #fff;
    width: 56px;
    cursor: pointer;
    height: 56px;
    margin: 0 auto;
    display: block;
    z-index: 9999;
    position: relative;
    box-shadow: rgb(0 0 0/20%) 0 2px 6px 1px;
    text-align: center;
    transition: all 250ms ease-in-out 0s;
    visibility: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
    background-size: cover;
    text-decoration: none;
    background-color: #546de5;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none !important;
    max-width: none !important
}

.contact-head-icon {
    top: 50%;
    left: 50%;
    color: #fff;
    z-index: 1;
    position: absolute;
    font-size: 25px;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 250ms ease-in-out 0s
}

.contact-head-label {
    opacity: 1;
    visibility: visible
}

.contact-head-label {
    top: 50%;
    color: #fff;
    right: 65px;
    margin: 0;
    padding: 5px 15px;
    z-index: 1;
    position: absolute;
    font-size: 12px;
    transform: translateY(-50%);
    background: #546de5;
    box-shadow: none;
    text-align: end;
    transition: all .2s ease-out 0s;
    font-family: unset;
    line-height: initial;
    white-space: nowrap;
    border-radius: 3px
}

.contact-button {
    color: #fff;
    width: 42px;
    cursor: pointer;
    height: 42px;
    margin: 0 auto 10px;
    display: block;
    opacity: 1;
    position: relative;
    box-shadow: rgb(0 0 0/20%) 0 2px 6px 1px;
    text-align: center;
    transition: all 250ms ease-in-out 0s;
    visibility: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
    background-size: cover;
    text-decoration: none;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none !important;
    max-width: none !important
}

.button-icon {
    top: 50%;
    left: 50%;
    color: #fff;
    z-index: 1;
    position: absolute;
    font-size: 16px;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all .2s ease-out 0s
}

.contact-label {
    top: 50%;
    color: #fff;
    right: 51px;
    margin: 0;
    padding: 5px 15px;
    z-index: 1;
    position: absolute;
    font-size: 12px;
    transform: translateY(-50%);
    box-shadow: none;
    text-align: end;
    transition: all .2s ease-out 0s;
    font-family: unset;
    line-height: initial;
    white-space: nowrap;
    border-radius: 3px;
    min-width: 117px
}

.button-closed {
    opacity: 0;
    visibility: hidden;
    margin-bottom: -30px;
    pointer-events: none
}

.button-closed .contact-label {
    opacity: 0;
    visibility: hidden
}

.button-head-opened .contact-head-label {
    opacity: 0;
    visibility: hidden
}

.zalo-button,
.zalo-button .contact-label {
    background: #0091ff
}

.group-zalo-button,
.group-zalo-button .contact-label {
    background: #0276e5
}

.messenger-button,
.messenger-button .contact-label {
    background: #006aff
}

.telegram-button,
.telegram-button .contact-label {
    background: #08c
}

.facebook-button,
.facebook-button .contact-label {
    background: #4267b2
}

.phone-button,
.phone-button .contact-label {
    background: #fa4545
}

.mobile-logo {
    transform: translateX(-50%);
    left: 50%;
    position: absolute
}

.mobile-logo img {
    max-height: 40px;
    width: auto
}

.ribbon-title {
    background: #546de5;
    padding: 5px 12px;
    box-shadow: 2px 5px 10px rgb(33 37 41/15%);
    color: #fff;
    font-size: .8125rem;
    font-weight: 600;
    position: absolute;
    left: -1px;
    top: 5px;
    display: inline-block
}

.ribbon-title.ribbon-primary::before {
    border-left-color: #546de5;
    border-top-color: #546de5
}

.ribbon-title::before {
    content: "";
    position: absolute;
    right: -17px;
    top: 0;
    border: 14px solid transparent
}

.ribbon-title.ribbon-primary::after {
    border-left-color: #546de5;
    border-bottom-color: #546de5
}

.ribbon-title::after {
    content: "";
    position: absolute;
    right: -17px;
    bottom: 0;
    border: 14px solid transparent
}

body.dark .progress {
    background-color: #e9ecef
}